In [1]:
import os
import json
import pandas as pd
from pandas import json_normalize

In [115]:
# Modify path to your data as appropriate
# create a dataframe from the json data in theadvertisers_using_your_activity_or_information.json file 
with open('Facebook/ads_information/advertisers_using_your_activity_or_information.json', 'r') as f:
        data = json.load(f)
df = pd.json_normalize(data, "custom_audiences_all_types_v2")

In [ ]:
df

In [137]:
# Modify path to your data as appropriate
# create a dataframe from the json in the your_off-facebook_activity.json file
json_file_path = 'Facebook/apps_and_websites_off_of_facebook/your_off-facebook_activity.json'
with open(json_file_path, 'r') as f:
    data = json.load(f)

tdf = pd.json_normalize(data, record_path=['off_facebook_activity_v2'])

In [138]:
pd.json_normalize(tdf.iloc[0]['events'])

                 id       type   timestamp
0  1519280744750367     CUSTOM  1679691900
1  1519280744750367     CUSTOM  1679343300
2  1519280744750367     CUSTOM  1676667720
3  1519280744750367     CUSTOM  1676321400
4  1519280744750367     CUSTOM  1676151120
5  1519280744750367     CUSTOM  1675715460
6  1519280744750367  PAGE_VIEW  1661376600
7  1519280744750367  PAGE_VIEW  1660595340
8  1519280744750367  PAGE_VIEW  1649343780

In [139]:
tdf

,name,events
0,starbucks.com,"[{'id': 1519280744750367, 'type': 'CUSTOM', 't..."
1,copyrightalliance.org,"[{'id': 125984621386767, 'type': 'PAGE_VIEW', ..."
2,equifax.com,"[{'id': 1157594847740986, 'type': 'PAGE_VIEW',..."
3,experian.com,"[{'id': 680167488685105, 'type': 'COMPLETE_REG..."
4,wayfair.com,"[{'id': 858494107845674, 'type': 'VIEW_CONTENT..."
...,...,...
436,coloradoan.com,"[{'id': 119333421877619, 'type': 'VIEW_CONTENT..."
437,prestomusic.com,"[{'id': 718618255437853, 'type': 'PAGE_VIEW', ..."
438,wallisbank.com,"[{'id': 579370859152151, 'type': 'PAGE_VIEW', ..."
439,bswhealth.com,"[{'id': 783356355805391, 'type': 'PAGE_VIEW', ..."
440,Nextdoor: Local Neighborhood,"[{'id': 114611681929998, 'type': 'CUSTOM', 'ti..."

In [140]:
# create a list of dataframes, one for each site, with records for each event in the 'events' json column
tlist=[]
for rec in tdf.itertuples(index=False):
    tmpdf = pd.json_normalize(rec[1])
    tmpdf['name'] = rec[0]
    tlist.append(tmpdf)

In [ ]:
tlist

In [142]:
# then combine the individual dataframes into one dataframe
df = pd.DataFrame()
df = df.append(tlist)

In [ ]:
df

In [144]:
df['newtimestamp'] = pd.to_datetime(df['timestamp'], unit='s')

In [ ]:
# get list of all sites/apps and the number of events for each
df['name'].value_counts().head(25)

In [ ]:
len(df['name'].value_counts())

In [ ]:
df['newtimestamp'].min()

In [ ]:
df['newtimestamp'].max()